{% extends "general.html" %}


{% block head_after %}

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    h2 {
        text-align: center;
    }
</style>

{% endblock %}


{% block body_main %}

<div class="heading">
    <h1>Thoughts of a Professional Critic</h1>
</div>

<main>
    <h2>I was just randomly surfing the net for some books to add to my shelf. All of the 10 books I found were there on
    this site. Never having heard of this site, I found myself highly skeptical. However it’s been around an hour and a
    half I have been engrossed in this haven for all book readers since having myself double minded. The collection in
    this site is highly commendable being enhanced by the highly interactive and easy to use UI. It’s almost a surprise
    how I hadn’t heard of this site before. From Russian to Bengali, Stanza has it all covered and that too across a
    myriad of genres. However, there is no add to cart option which makes buying multiple books at once difficult and
    tedious. Patience is required in this site due to the slightly inconvenient checkout process. Other than that
    there’s no reason why stanza shouldn’t be your go to place when finding a book to add to your shelf. Finding one
    book will end up with you buying 10 more due to the top notch recommendations you would get while searching a genre
    or some masterpieces from a particular quill.</h2>
    
    <h2 style="color: var(--color-green); font-size: 2rem;">9.7/10</h2>
</main>

{% endblock %}