{% extends "general.html" %}

{% block head_after %}

    <link rel="stylesheet" href="{{url_for('static', filename='styles/zinnia.css')}}">

{% endblock %}

{% block body_main %}

    <div class="heading"><h1>A Message from the Magician</h1></div>

    <main>
        <h1>
            Hey there internet explorer! They call me coder but I am just a modern day alchemist.
            If you are looking for a place where brains meet entertainment, then you are in the right spot.
        </h1>
        <h1>
            Welcome to our website 
        </h1>

    </main>

{% endblock %}